@charset "utf-8";
.read_title{height:38px;line-height:38px;border-bottom:1px solid #d5d5d5;margin-top:10px;}
.read_title span{font-size:19px;color:#fe6d07;border-bottom:3px solid #fe6d07;height:36px;line-height:36px;float:left;padding:0 12px;font-weight:bold;}
.comment{border:1px solid #e5e5e5;border-top:2px solid #d6d6d6;border-bottom:0px;}
.post_user{background-color:#f1f1f1;padding-bottom:10px;border-bottom:1px solid #d6d6d6;}
.post_user_count{background:url(/images/comment/comment_title.gif) no-repeat 10px center;height:40px;line-height:40px;padding-right:10px;padding-left:10px;font-size:14px;text-align:right;}
.post_user_count i{float:left;font-size:17px;}
.post_user_cont{width:97%;margin:0px auto;}
.post_user_cont textarea{width:97.6%;border-radius:3px;border:1px solid #cecece;min-height:100px;padding:1% 1.2%;font-family:"微软雅黑";font-size:14px;line-height:20px;}

.cmnt_user_cont{margin:8px auto 0px auto;width:97%;}
.user_login{float:left;height:30px;line-height:30px;}
.user_login input{height:24px;line-height:24px;border:1px solid #cecece;padding-left:6px;width:100px;margin-right:12px;}
.cmnt_login{float:right;border:1px solid #cecece;background-color:#e1e1e1;padding:6px 9px;border-radius:3px;cursor:pointer;font-size:14px;letter-spacing:1px;}
.cmnt_login:hover{border:1px solid #ff731f;background-color:#ff8942;color:#FFF;}

.comment h3{height:40px;font-size:19px;border-top:1px solid #fcfcfc;background-color:#f1f1f1;line-height:40px;text-indent:12px;color:#a8a8a8;font-weight:normal;}
.comment h3 span{float:right;background:url(/images/comment/refresh_icon.gif) no-repeat left center;padding-left:8px;font-size:15px;margin-right:15px;cursor:pointer;}
.comment h3 span:hover{color:#666;}

.comment_list{padding:15px 15px 20px 15px;min-height:85px;_height:85px;_padding-bottom:10px;border-bottom:1px dashed #dedede;cursor:pointer;}
.comment_list:hover{background-color:#fafafa;cursor:default;}
.comment_list div{color:#bfbfbf;}
.comment_list h4{color:#999;font-weight:normal;font-size:15px;height:25px;line-height:25px;}
.comment_list h4 span{color:#ff8500;}
.comment_list p{color:#585858;font-size:15px;line-height:25px;}
.reply_date{float:left;line-height:24px;height:24px;}
.reply_icon{float:right;min-width:40px;height:24px;text-align:center;border:1px solid #fff;cursor:pointer;border-radius:3px;margin-left:7px;padding:0px 5px;}
.reply_icon:hover{border:1px solid #d1d1d1;background-color:#f5f5f5;height:22px;min-width:40px;}