@charset "utf-8";
.read_title{height:38px;line-height:38px;border-bottom:1px solid #d5d5d5;margin-top:10px;}
.read_title span{font-size:19px;color:#fe6d07;border-bottom:3px solid #fe6d07;height:36px;line-height:36px;float:left;padding:0 12px;font-weight:bold;}
.comment{border:1px solid #e5e5e5;border-top:2px solid #e5e5e5;border-bottom:0px;}
.post_user{background-color:#fcfcfc; border-bottom:1px solid #e5e5e5;}
.post_user_count{background:url(/images/title_img.png) no-repeat 16px center;height:50px;line-height:50px; padding:0 16px;font-size:14px;text-align:right;}
.post_user_count i{float:left;font-size:17px;}
.post_user_cont{padding:0 16px;}
.post_user_cont textarea{width:100%;box-sizing:border-box; outline:none;border-radius:3px;border:1px solid #cccccc;min-height:100px;padding:1% 1.2%;font-family:"微软雅黑";font-size:16px;line-height:20px;}

.cmnt_user_cont{margin:8px 15px 0 15px; padding-bottom:10px;}
.user_login{float:left;height:30px;line-height:30px;}
.user_login input{height:24px;line-height:24px;border:1px solid #cecece;padding-left:6px;width:100px;margin-right:12px;}
.cmnt_user_cont .cmnt_login{color:#acacac; font-size:16px; line-height:37px;}
.cmnt_user_cont .cmnt_login a{color:#acacac; font-size:16px;}
.cmnt_user_cont .cmnt_login1{background-color:#e1e1e1; border-radius:3px; font-size:16px; color:#747474; padding:8px 36px; display:block;}
.cmnt_user_cont .cmnt_login1:hover{background-color:#fa6e00; color:#fff;}

.comment h3{height:40px;font-size:19px;border-top:1px solid #fcfcfc;background-color:#f1f1f1;line-height:40px;text-indent:12px;color:#a8a8a8;font-weight:normal; text-align:left;}
.comment h3 span{float:right;background:url(/images/comment/refresh_icon.gif) no-repeat left center;padding-left:8px;font-size:15px;margin-right:15px;cursor:pointer;}
.comment h3 span:hover{color:#666;}

.comment_list{padding:16px;border-bottom:1px solid #e5e5e5;cursor:pointer;}
.comment_list div{color:#bfbfbf;}
.comment_list p{text-align: justify; display:block; margin-bottom:8px; color:#333;}


.comment_list .c-face{border:1px solid #dadada; width:50px; float:left;height:50px; border-radius:50%; background:url(http://code.nongji360.com/images/photo_img.png) no-repeat;}
.comment_list .info-d-con{margin-left:65px;}
.info-d-con h4{font-size:14px; font-weight:normal; color:#acacac;}
.info-d-con h4 span{font-style:normal; color:#fa6e00;}
.operation .left{color:#333;}
.operation .right span{height:14px; line-height:14px;display:inline-block; overflow:hidden;padding-left:18px; color:#333;}
.operation .right span:hover{color:#fa6e00; background-position:left top;}
.operation .right .pos-icon1{min-width:50px; border-right:1px solid #e7e7e7;}
.operation .pos-icon1{background:url(http://code.nongji360.com/images/pos_icon1.png) no-repeat left bottom;}
.operation .pos-icon1 em{Font-style:normal; margin-left:4px;}
.operation .pos-icon2{background:url(http://code.nongji360.com/images/pos_icon2.png) no-repeat left bottom; margin-left:16px;}

.reply-list{margin-top:12px;}
.reply-list h4{font-weight:normal;}