@charset "utf-8";
/*我们的服务 begin*/
#service{width:1000px; margin:12px auto 0px auto}
.serviceBox{float:left;margin-right:8px;background-color:#fff6ec;padding:10px;margin-top:12px;height:220px;}
.Service120{width:105px;}
.Service175{width:175px;}
.Service_right{margin-right:0;float:right;width:108px;}
.serviceBox h3{text-align:center;padding-bottom:10px;border-bottom:1px solid #c6b5a4;}
.serviceBox p{margin-top:5px;width:100%;text-align:center;}
.serviceBox a{color:#74512a;font-size:13px;}
/*我们的服务 end*/

/*友情链接 begin*/
.friendLink{width:1000px;margin:12px auto 0px auto}
.friendLink ul{font-size:19px;font-weight:normal;height:40px;margin-bottom:12px;}
.friendLink ul li{background:url(/images/foot/footer_bg.gif) repeat-x;height:38px;line-height:38px;float:left;border:1px solid #f5cfc2;padding:0 10px;margin-right:8px;}
.friendLink ul li.current{background-color:#ff8400;background-image:none;border:1px solid #ff8400;color:#FFF;}

.partner li{float:left;width:11.1%;text-align:center;margin-bottom:8px;}
.partner li img{width:100px;height:40px;border:1px solid #353535;}
.foot_menu li{width:16.6%;text-align:left;float:left;}
.friendLine li{float:left;width:14.2%;text-align:left;height:30px;line-height:30px;overflow:hidden;}
/*友情链接 end*/

/*footer begin*/
.footer{margin:15px auto 10px auto;width:1000px;}
.footer span{height:32px;line-height:32px;background-color:#f7f7f7;display:block;text-align:center;margin-bottom:10px;}
.footer span a{color:#555;}
.footer-left,.footer-main{float:left;text-align:center;}
.footer-left{width:20%;}
.footer-main{width:60%;font-size:12px;line-height:20px;}
.footer-right{float:right;width:20%;text-align:center;}
/*footer end*/


