.webuploader-container{position:relative;}
.webuploader-element-invisible{position:absolute !important;clip:rect(1px,1px,1px,1px);}
.webuploader-pick{width:100%;position:relative;display:inline-block;cursor:pointer;padding:0;text-align:center;border-radius:3px;overflow:hidden;}
.webuploader-pick-hover{}
.webuploader-pick-disable{opacity:0.6;pointer-events:none;}