/* CSS Document */
.header-con{width:1180px; margin:20px auto;}
.logo-cen{ float:left;}
.logo-cen dl{float:left;}
.logo-cen dt{float:left; margin-right:12px; display:block;}
.logo-cen dt img{max-width:160px; max-height:55px;}
.logo-cen dt div{background:url(../../images/shop/collection_button_1.png) no-repeat 8px 5px;background-color:#e00022; color:#fff; padding:0px 8px 1px 28px; margin:0 auto; width:65px;}
.logo-cen dd{float:left;}
.logo-cen dd h2{font-size:30px; font-weight:bold; height:30px; line-height:27px; text-align:left; display:block; margin:12px 0px 10px 0px;}
.logo-cen dd div li{float:left; font-size:14px; margin-right:10px; font-weight:normal;}
.logo-cen dd div li img{float:left; margin:2px 3px 0px 0px;}
.search{float:right; margin-top:6px;}
.search_box{border:3px solid #0440c5; height:32px; padding:2px; float:left; width:360px; background-color:#fff;}
.search .s_text{float:left; width:190px; height:24px; margin:4px 0px 0px 5px; padding-left:5px; font-size:15px; line-height:24px; outline:none;}
.search .s_button{color:#fff; height:36px; padding:0px 18px; font-size:16px; float:right; margin:0px;background-color:#0440c5; cursor:pointer; outline:none; line-height:30px; margin:-2px;}
.search .button{float:right;}
.search .button input{height:42px; padding:0px 20px; font-size:16px; background-color:#fff3e0; border-radius:5px; border:1px solid #ffcd7f; color:#ff9c00;}
.search #searchCate{float:left; border:1px solid #fff; font-size:15px; background-color:#f6f6f6; border-right:1px solid #e5e5e5; padding-right:12px; background:url(../../images/shop/chouse_icon.gif) no-repeat 68px 13px; height:30px; overflow:hidden; width:70px; line-height:30px; cursor:pointer;}
.search #searchCate dt{cursor:pointer;}
.search #searchCate dd{cursor:pointer; text-align:center; margin-left:-1px;}
.search .view_box{margin-top:6px; font-size:14px;}
.search .view_box li{float:left; margin-right:10px;}
.search .view_box li b{color:#e00022; margin:0px 2px;}
.search .view_box li img{float:left; margin:4px 2px 0px 0px;}
.search .view_box li em{background:url(../../images/shop/header/date_img.gif) no-repeat right; padding-right:10px; margin-left:2px; font-weight:bold; color:#e00022;}
/*top-cen end*/

/*导航*/
.Nav{background-color:#0440c5;}
.Nav .menu{width:1180px; margin:0 auto; height:50px;}
.Nav > ul > li a{text-align:center; display:block; line-height:50px; color:#fff; font-size:17px;}
.Nav .menu > li{position:relative;float:left; color:#fff;width:11%; text-align:center; line-height:45px;}
.Nav .menu > li img{vertical-align:middle}
.Nav .menu .class1{position:absolute; z-index:1; min-width:100%;}
.Nav .menu .class1 > li{position:relative; clear:both; display:block; width:auto;}
.Nav .menu .class1 > li > a{width:auto; display:block; white-space:nowrap; word-break:normal;}
.Nav .menu .class2{position:absolute;left:100%;top:0;z-index:99; min-width:100%;}
.Nav .menu .class1 > li > a,.Nav .menu .class2 a{display:block;line-height:36px;font-size:15px;padding:0px 8px;-moz-box-sizing:border-box; -webkit-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; white-space:nowrap; word-break:normal;border-bottom:1px solid #002e95; border-top:1px solid #0044db;background-color:#0035aa;}
.Nav .menu .class1 > li > a:hover,.Nav .menu .class2 a:hover{width:100%; display:block;background-color:#0035aa;}
.Nav .menu a:hover{background-color:#0035aa;}
/*导航 end*/


.recomment_cp{width:1180px; margin:25px auto 5px auto; padding:30px 0px 15px 0px; clear:none; border:2px solid #e5e5e5; border-radius:10px;}
.recomment_cp div{width:1165px; position:relative;}
.recomment_cp div h3{position:absolute; background-color:#fff; left:15px; top:-47px; padding:5px 8px;font-size:16px;
color:#ef8000;}
.recomment_cp dl{float:left; width:15%; margin-left:1.6%;}
.recomment_cp dt{border:1px solid #e5e5e5; text-align:center; box-sizing:border-box; padding:6px 0px;}
.recomment_cp dt img{max-height:50px; max-width:160px;}
.recomment_cp dd{color:#ef8000;}
.recomment_cp dd a{font-size:15px; display:block; height:21px; line-height:21px; margin-top:5px; overflow:hidden;}


@media screen and (max-width:1280px){
.search ul .s_text{width:145px;}
.search_box{width:330px;}
.TopNav .wrap,.header-con,.Nav .menu,.logo-cen > div{width:1000px;}
.search .s_text{width:165px;}
.recomment_cp{width:1000px;}
.recomment_cp dl{float:left;width:15.3%; margin-left:1.3%;}
.recomment_cp div{width:985px;}
}